.post {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 100px;
  padding: 20px 15px;
  position: relative;
  margin-bottom: 15px;
  display: flex;
}

.post > img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
}

.post-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.statistic {
  display: flex;
  align-items: center;
}

.statistic img {
  object-fit: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.statistic > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #536471;
}

.post-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.user-info {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.content {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
