.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

.loader > img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
