.container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 50px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}

.user > div {
  display: flex;
  align-items: center;
}

.user img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 30px;
  border-radius: 50%;
}

.pagination-container {
  display: flex;
  justify-content: center;
}
