.container {
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #000;
}

.user img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
