.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages {
  width: 50%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.page {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 30px;
  border-radius: 50%;
  color: #126e82;
  background-color: #d8e3e7;
}

.page:hover,
.active-page {
  background-color: #126e82;
  color: #fff;
}

.pagintaion-button {
  background-image: url(./../../../assets/left-chevron.png);
  width: 40px;
  height: 40px;
  background-size: contain;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  background-color: transparent;
}

.pagintaion-button:hover {
  opacity: 0.9;
}

.button-left {
  margin-right: 25px;
}

.button-right {
  margin-left: 25px;
  transform: rotate(-180deg);
}
