.profile-bg {
  width: 100%;
  height: 280px;
  background-color: #01384d;
}

.user-info {
  position: relative;
  padding-left: 25px;
}

.user-info > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info > div > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -100px;
  border: 5px solid #ffffff;
}

.edit-data-btn {
  width: 120px;
  height: 44px;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  right: 25px;
  top: 20px;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.edit-data-btn:hover {
  background: #1d9bf0;
  color: #fff;
  border: 1px solid #1d9bf0;
}
