ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 8fr;
  grid-template-areas:
    'h h'
    'n c';
  width: 1200px;
}

.content {
  border: 1px solid #d8d8d8;
  grid-area: c;
}
